src/main/resources/domain/platformReportConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.bottomline.com/webseries/schema/ps/platform/reportcenterwidget/v1"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:complexType name="ReportCenterWidgetRptModel">
		<xsd:sequence>
			<xsd:element name="reportId" type="xsd:string"/>
			<xsd:element name="product" type="xsd:string"/>
			<xsd:element name="profileNum" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
