src/main/resources/services/integrationPanelMaint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by Bottomline Technologies (Bottomline Technologies) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:btmsg="http://www.bottomline.com/webseries/schema/ps/message/common/v1" xmlns:btpanel="http://www.bottomline.com/webseries/schema/ps/platform/panel/v1" xmlns:tns="http://www.bottomline.com/webseries/schema/is/message/panel/maint/v1" targetNamespace="http://www.bottomline.com/webseries/schema/is/message/panel/maint/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.bottomline.com/webseries/schema/ps/message/common/v1" schemaLocation="platformMessage.xsd"/>
	<xsd:import namespace="http://www.bottomline.com/webseries/schema/ps/platform/panel/v1" schemaLocation="../domain/platformPanel.xsd"/>
	<xsd:annotation>
		<xsd:documentation xml:lang="en"> Request/response messages for managing Panels within WebSeries</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="updatePanelApproverTypesRequest" type="tns:UpdatePanelApproverTypesRequest" nillable="true"/>
	<xsd:element name="updatePanelApproverTypesResponse" type="tns:UpdatePanelApproverTypesResponse" nillable="true"/>
	<xsd:element name="addPanelProfileFilterRequest" type="tns:AddPanelProfileFilterRequest" nillable="true"/>
	<xsd:element name="addPanelProfileFilterResponse" type="tns:AddPanelProfileFilterResponse" nillable="true"/>
	<xsd:element name="addPanelProfileAssignmentRequest" type="tns:AddPanelProfileAssignmentRequest" nillable="true"/>
	<xsd:element name="addPanelProfileAssignmentResponse" type="tns:AddPanelProfileAssignmentResponse" nillable="true"/>
	<xsd:element name="updatePanelProfileAssignmentRequest" type="tns:UpdatePanelProfileAssignmentRequest" nillable="true"/>
	<xsd:element name="updatePanelProfileAssignmentResponse" type="tns:UpdatePanelProfileAssignmentResponse" nillable="true"/>
	<xsd:element name="addPanelProfileFilterMultiRequest" type="tns:AddPanelProfileFilterMultiRequest" nillable="true"/>
	<xsd:element name="addPanelProfileFilterMultiResponse" type="tns:AddPanelProfileFilterMultiResponse" nillable="true"/>
	<xsd:element name="addPanelProfileAssignmentMultiRequest" type="tns:AddPanelProfileAssignmentMultiRequest" nillable="true"/>
	<xsd:element name="addPanelProfileAssignmentMultiResponse" type="tns:AddPanelProfileAssignmentMultiResponse" nillable="true"/>
	<xsd:element name="updatePanelProfileFilterMultiRequest" type="tns:UpdatePanelProfileFilterMultiRequest" nillable="true"/>
	<xsd:element name="updatePanelProfileFilterMultiResponse" type="tns:UpdatePanelProfileFilterMultiResponse" nillable="true"/>
	<xsd:element name="updatePanelProfileFilterRequest" type="tns:UpdatePanelProfileFilterRequest" nillable="true"/>
	<xsd:element name="updatePanelProfileFilterResponse" type="tns:UpdatePanelProfileFilterResponse" nillable="true"/>
	<xsd:element name="updatePanelProfileAssignmentMultiRequest" type="tns:UpdatePanelProfileAssignmentMultiRequest" nillable="true"/>
	<xsd:element name="updatePanelProfileAssignmentMultiResponse" type="tns:UpdatePanelProfileAssignmentMultiResponse" nillable="true"/>
	<xsd:element name="approvePanelProfileAssignmentMultiRequest" type="tns:ApprovePanelProfileAssignmentMultiRequest" nillable="true"/>
	<xsd:element name="approvePanelProfileAssignmentMultiResponse" type="tns:ApprovePanelProfileAssignmentMultiResponse" nillable="true"/>
	<xsd:element name="deletePanelProfileAssignmentMultiRequest" type="tns:DeletePanelProfileAssignmentMultiRequest" nillable="true"/>
	<xsd:element name="deletePanelProfileAssignmentMultiResponse" type="tns:DeletePanelProfileAssignmentMultiResponse" nillable="true"/>
	<xsd:element name="approvePanelProfileFilterMultiRequest" type="tns:ApprovePanelProfileFilterMultiRequest" nillable="true"/>
	<xsd:element name="approvePanelProfileFilterMultiResponse" type="tns:ApprovePanelProfileFilterMultiResponse" nillable="true"/>
	<xsd:element name="deletePanelProfileFilterMultiRequest" type="tns:DeletePanelProfileFilterMultiRequest" nillable="true"/>
	<xsd:element name="deletePanelProfileFilterMultiResponse" type="tns:DeletePanelProfileFilterMultiResponse" nillable="true"/>
	<xsd:complexType name="UpdatePanelApproverTypesRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Update the panel approver types for an existing user group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelApproverTypes" type="btpanel:PanelApproverTypes"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelApproverTypesResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeader">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddPanelProfileFilterRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Add a panel profile filter</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileFilter" type="btpanel:PanelProfileFilter"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddPanelProfileFilterResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddPanelProfileAssignmentRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Add a panel profile assignment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileAssignment" type="btpanel:PanelProfileAssignment"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddPanelProfileAssignmentResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeader">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddPanelProfileAssignmentMultiRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Add one or more panel profile assignments</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileAssignment" type="btpanel:PanelProfileAssignment" maxOccurs="unbounded"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddPanelProfileAssignmentMultiResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelProfileAssignmentRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Update a panel profile assignment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileAssignment" type="btpanel:PanelProfileAssignment"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelProfileAssignmentResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeader">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddPanelProfileFilterMultiRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Add one or more panel profile filters</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileFilter" type="btpanel:PanelProfileFilter" maxOccurs="unbounded"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AddPanelProfileFilterMultiResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelProfileFilterMultiRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Update one or more panel profile filters</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileFilter" type="btpanel:PanelProfileFilter" maxOccurs="unbounded"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelProfileFilterMultiResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelProfileFilterRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Update a panel profile filter</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileFilter" type="btpanel:PanelProfileFilter"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelProfileFilterResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeader">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelProfileAssignmentMultiRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Update one or more panel profile assignments</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileAssignment" type="btpanel:PanelProfileAssignment" maxOccurs="unbounded"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdatePanelProfileAssignmentMultiResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApprovePanelProfileAssignmentMultiRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Approve one or more panel profile assignments</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileAssignmentApprove" type="btpanel:PanelProfileAssignmentApprove" maxOccurs="unbounded"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApprovePanelProfileAssignmentMultiResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeletePanelProfileAssignmentMultiRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Delete one or more panel profile assignments</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileAssignmentDelete" type="btpanel:PanelProfileAssignmentDelete" maxOccurs="unbounded"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeletePanelProfileAssignmentMultiResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApprovePanelProfileFilterMultiRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Approve one or more panel profile filters</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileFilterApprove" type="btpanel:PanelProfileFilterApprove" maxOccurs="unbounded"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApprovePanelProfileFilterMultiResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeletePanelProfileFilterMultiRequest">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Delete one or more panel profile filters</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="requestHeader" type="btmsg:RequestHeader" nillable="false">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard request fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="panelProfileFilterDelete" type="btpanel:PanelProfileFilterDelete" maxOccurs="unbounded"/>
			<xsd:element name="clientMaintenance" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This is set to true if the requesting user (from request header) is bank administrator (CBAO or CSU) and user group is a customer. If set to false the requesting user group should be the same as, or the parent of, the target user group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeletePanelProfileFilterMultiResponse">
		<xsd:sequence>
			<xsd:element name="responseHeader" type="btmsg:ResponseHeaderMultiItem">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">WebSeries standard response fields</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
